<%= form_with(model: [post, comment], url: post_comment_path(post.id) ) do |form| %>
  <div class="uk-flex">
    <div class="uk-width-5-6">
      <%= form.text_area :content, placeholder: "コメントをする", class: "uk-width-1-1" %>
    </div>
    <div class="actions uk-width-1-6 uk-text-center">
      <%= button_tag 'コメントする', class: "uk-button uk-button-primary uk-button-small", method: :post %>
    </div>
  </div>
<% end %>
