<div class="about-main">
  <p><h2>『iMERGE』</h2>とは</p>
  <p>
    あなたがあったらいいなと思うものがかたちになるサービスです。
  </p>
</div>
<div class="about-rule">
  <div class="about-list">
    <div class="idea">
      <%= image_tag('/idea.png') %>
      <p>アイディアを投稿</p>
    </div>
  </div>
  <div class="about-list">
    <div class="meeting">
      <%= image_tag('/meeting.png') %>
      <p>コメントなどをもとに</p>
    </div>
  </div>
  <div class="about-list">
    <div class="making">
      <%= image_tag('/making.png') %>
      <p>形にする</p>
    </div>
  </div>
  <div class="about-list">
    <div class="coin">
      <%= image_tag('/coin.png') %>
      <p>販売・分配</p>
    </div>
  </div>
</div>

<div class="step-container">
      <div class="step-header">
              <div class="step-header-image">
                <img src="img/step-header.png" alt="">
              </div>
              <h2>ここにタイトル（~の流れ）</h2>
              <div class="step-header-description">
                <p>ここに説明がはいります。ここに説明がはいります。ここに説明がはいります。ここに説明がはいります。ここに説明がはいります。ここに説明がはいります。ここに説明がはいります。ここに説明がはいります。</p>
              </div>
      </div>




  <h2 class="top-h2"><img src="img/img02.png" alt="" style="width:18px;"><span>見出し内容がはいります。</span></h2>

  <div class="step-main-description">
    <div class="step-main-image step-main-image1">
      <div class="step-image1"><img src="img/152622g.png" alt=""></div>
      <h3>ユーザー（アイディア提供側）</h3>
    </div>

    <div class="step-main-image">
      <div class="step-image1"><img src="img/152622b.png" alt=""></div>
      <h3>運営側</h3>
    </div>
  </div>

  <div class="step-main-container">
    <div class="step-offer-box">
          <div class="step-offer-col">
              <p class="flag">会員登録</p>
              <p class="desc">まずは会員登録を</p>
          </div>
          <div class="step-offer-col">
              <p class="flag">アイディアを投稿</p>
              <p class="desc">あなたがあったらいいなと思うもの・サービスを投稿しましょう</p>
          </div>
          <div class="step-offer-col">
              <p class="flag">アドバイスをもとに</p>
              <p class="desc">みんなのアドバイスからもっといいものに‼︎<br>
                            他のみんなのアイディアにもアドバイスをしてあげましょう</p>
          </div>
          <div class="step-offer-col">
              <p class="flag">詳細を決める</p>
              <p class="desc">名前やデザインなど詳細を決めていきましょう</p>
          </div>
          <div class="step-offer-col visibility">
            <p class="flag"></p>
            <p class="desc"></p>
          </div>
          <div class="step-offer-col visibility">
            <p class="flag">タイトル</p>
            <p class="desc">ここにテキストが入ります。ここにテキストが入ります。</p>
          </div>
          <div class="step-offer-col">
            <p class="flag">試作品確認・詳細決定</p>
            <p class="desc">実際に試作品を確認していただき、詳細を決定しましょう</p>
          </div>

      </div>
      <div class="step-operation-box">
          <div class="step-operation-col visibility">
              <p class="flag">タイトル</p>
              <p class="desc">ここにテキストが入ります。ここにテキストが入ります。</p>
          </div>
          <div class="step-operation-col visibility">
              <p class="flag">タイトル</p>
              <p class="desc">ここにテキストが入ります。ここにテキストが入ります。</p>
          </div>
          <div class="step-operation-col visibility">
              <p class="flag">タイトル</p>
              <p class="desc">ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。</p>
          </div>
          <div class="step-operation-col">
              <p class="flag">形にするアイディアを選定</p>
              <p class="desc">いいねの数や形に出来そうなものを選ばせていただきます</p>
          </div>
          <div class="step-operation-col">
            <p class="flag">メーカー・外注先を決定、試作品作成</p>
            <p class="desc">アイディアに合ったメーカーを探し、試作品を作成します</p>
        </div>
        <div class="step-operation-col">
          <p class="flag">テスト販売</p>
          <p class="desc">少量の試作品を販売します</p>
        </div>
        <div class="step-operation-col">
          <p class="flag">量産化・販売</p>
          <p class="desc">テスト販売をクリアしますと量産化し本格的に販売します</p>
        </div>
        <div class="step-operation-col">
          <p class="flag">収益を分配</p>
          <p class="desc">売り上げに応じて収益を分配します</p>
        </div>

      </div>
  </div>
</div>


<div class="qanda">
  <div class="qa"><h4>Q & A</h4></div>
  <div class="cp_qa">
	  <div class="cp_actab">
		  <input id="cp_tabfour031" type="checkbox" name="tabs">
		  <label for="cp_tabfour031">質問テキスト</label>
		  <div class="cp_actab-content">
		    <p>答えテキスト</p>
		  </div>
	  </div>
    <div class="cp_actab">
      <input id="cp_tabfour032" type="checkbox" name="tabs">
      <label for="cp_tabfour032">質問テキスト</label>
      <div class="cp_actab-content">
        <p>答えテキスト</p>
      </div>
    </div>
    <div class="cp_actab">
      <input id="cp_tabfour033" type="checkbox" name="tabs">
      <label for="cp_tabfour033">質問テキスト</label>
      <div class="cp_actab-content">
        <p>答えテキスト</p>
      </div>
    </div>
  </div>
</div>
