<div class="about-main">
  <p><h2>『iMERGE』</h2>とは</p>
  <p>
    あなたがあったらいいなと思うものがかたちになるサービスです。
  </p>
</div>
<div class="about-rule">
  <div class="about-list">
    <div class="idea">
      <%= image_tag('/idea.png') %>
      <p>アイディアを投稿</p>
    </div>
  </div>
  <div class="about-list">
    <div class="meeting">
      <%= image_tag('/meeting.png') %>
      <p>コメントなどをもとに</p>
    </div>
  </div>
  <div class="about-list">
    <div class="making">
      <%= image_tag('/making.png') %>
      <p>形にする</p>
    </div>
  </div>
  <div class="about-list">
    <div class="coin">
      <%= image_tag('/coin.png') %>
      <p>販売・還元</p>
    </div>
  </div>
</div>

<div class="to-do">
  <div class="todo"><h4>あなたがやること</h4></div>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-user-circle-o"></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">会員登録</h3>
                            <p class="description">まずは会員登録を</p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">アイディアを投稿</h3>
                            <p class="description">あなたがあったらいいなと思うもの・サービスを投稿しましょう</p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-comments"></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">アドバイスをもとに</h3>
                            <p class="description">みんなのアドバイスからもっといいものに‼︎<br>
                            他のみんなのアイディアにもアドバイスをしてあげましょう</p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fas fa-tasks"></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">詳細を決める</h3>
                            <p class="description">名前やデザインなど詳細を決めていきましょう</p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">Web Development</h3>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci culpa
                                dolore explicabo fuga pariatur gjkfdgj  quis reprehenderit tenetur vel!</p>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="" class="timeline-content">
                        <div class="timeline-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="inner-content">
                            <h3 class="title">Web Development</h3>
                            <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci culpa
                                dolore explicabo fuga pariatur gjkfdgj  quis reprehenderit tenetur vel!</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="qanda">
  <div class="qa"><h4>Q & A</h4></div>
  <div class="cp_qa">
	  <div class="cp_actab">
		  <input id="cp_tabfour031" type="checkbox" name="tabs">
		  <label for="cp_tabfour031">質問テキスト</label>
		  <div class="cp_actab-content">
		    <p>答えテキスト</p>
		  </div>
	  </div>
    <div class="cp_actab">
      <input id="cp_tabfour032" type="checkbox" name="tabs">
      <label for="cp_tabfour032">質問テキスト</label>
      <div class="cp_actab-content">
        <p>答えテキスト</p>
      </div>
    </div>
    <div class="cp_actab">
      <input id="cp_tabfour033" type="checkbox" name="tabs">
      <label for="cp_tabfour033">質問テキスト</label>
      <div class="cp_actab-content">
        <p>答えテキスト</p>
      </div>
    </div>
  </div>
</div>
