<div class="about-main">
  <p><h2>『iMERGE』</h2>とは</p>
  <p>
    あなたがあったらいいなと思うものがかたちになるサービスです。
  </p>
</div>
<div class="about-rule">
  <div class="about-list">
    <div class="idea">
      <%= image_tag('/idea.png') %>
      <p>アイディアを投稿</p>
    </div>
  </div>
  <div class="about-list">
    <div class="meeting">
      <%= image_tag('/meeting.png') %>
      <p>コメントなどをもとに</p>
    </div>
  </div>
  <div class="about-list">
    <div class="making">
      <%= image_tag('/making.png') %>
      <p>形にする</p>
    </div>
  </div>
  <div class="about-list">
    <div class="coin">
      <%= image_tag('/coin.png') %>
      <p>販売・還元</p>
    </div>
  </div>
</div>


  <h3>あなたがやること</h3>
<div class="to-do"></div>

<div class="qanda">
  <div class="cp_qa">
	  <div class="cp_actab">
		  <input id="cp_tabfour031" type="checkbox" name="tabs">
		  <label for="cp_tabfour031">質問テキスト</label>
		  <div class="cp_actab-content">
		    <p>答えテキスト</p>
		  </div>
	  </div>
    <div class="cp_actab">
      <input id="cp_tabfour032" type="checkbox" name="tabs">
      <label for="cp_tabfour032">質問テキスト</label>
      <div class="cp_actab-content">
        <p>答えテキスト</p>
      </div>
    </div>
    <div class="cp_actab">
      <input id="cp_tabfour033" type="checkbox" name="tabs">
      <label for="cp_tabfour033">質問テキスト</label>
      <div class="cp_actab-content">
        <p>答えテキスト</p>
      </div>
    </div>
  </div>
</div>
