@import "variables";
.c-view-more-link {
  text-align: center;
  margin-top: 2em;

  &:hover {
    opacity: 0.6;
  }

  &__text {
    font-size: 1.5em;
    text-decoration: underline;
    color: black;
  }

  &__icon {
    font-size: 1.5em;
    text-decoration: underline;
    color: black;
  }

  @media (max-width:$SP_MAX_WIDTH){
  }
}
