@charset "utf-8";
@import "bulma";
@import "variables";

/**** スマホ時の書き分け方
@media(max-width:$SP_MAX_WIDTH){
  // このように@mediaで囲って書く
}
****/

/*------------------------------------*
    $ 共通のデフォルト設定
 *------------------------------------*/
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans' sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* 共通レイアウト =============================== */

html, body {
  height: 100%;
}

body {
  color: #2d3133;
  min-height: 1vh;
}

.section{
  padding: 1rem 1.5rem;
}

.main {
  //position: relative;
  //top: 64px;
  //width: 100%;
  //height: auto;
  //min-height: 200px;
}

.container {
  //max-width: 600px;
  //margin: 60px auto;
  //padding-left: 15px;
  //padding-right: 15px;
  //clear: both;
  //position: relative;
  //min-height: 100%;
}

/* ヘッダー =============================== */
header {
  background: #26d0c9;
  height: 64px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a {
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: black;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: black;
}

.header-menus .fa {
  padding-right: 5px;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 13px;
}

/*↓ここからハンバーガーメニューの為、下記追記しています。*/
.navbar-burger {
margin: 12px 10px 0 auto;
}

a.navbar-item {
	text-decoration:none;
}

a.navbar-item:hover{
	color:#363636;
}

/*↑ここまでがハンバーガーメニューの為の追記です。*/

/* フッター =============================== */
footer {
  z-index: 10;
  background: #00d1b2;

  ul.footer-li{
    display:flex;
    justify-content: flex-end;
    padding: 20px 30px 0 10px;
    padding-left:25px;

    a{
      color:white;
      transition: .4s;
    }

    @media screen and (max-width:$SP_MAX_WIDTH){
      /* display:block; */
      text-align:left;
      padding: 15px 0;
    }

    li{
      padding-right:10px;

      @media screen and (max-width:$SP_MAX_WIDTH){
        padding-left:0;
      }

      .footer-a{
        @media screen and (max-width:$SP_MAX_WIDTH){
          font-size: 12px;
        }

        @media only screen and (max-width: 375px) {
          font-size: 10px;
        }

        :hover{
          color:#363636;
        }
      }
    }
  }


  .copy{
    text-align: center;
    padding:15px 0;
  }

  .footer-main{
    display: flex;
  }

  .footer-logo{
    margin: 15px 0 0 25px;
    max-width: 50%;

    @media screen and (max-width:$SP_MAX_WIDTH){
      margin:10px 0 0 15px;
      /* max-width: 40%; */
    }
  }

  @media screen and (max-width:$SP_MAX_WIDTH){
    .footer-main-logo{
      width:70px;
    }
  }
  .footer-flex{
    margin-left: auto;
  }
}
