<!-- <footer class= "footer">
    <small>
      © 2018 ----
    </small>
    <ul>
      <li><%= link_to "利用規約" %></li>
      <li><%= link_to "プライバシポリシー" %></li>
      <li><%= link_to "お問い合わせ" %></li>
    </ul>
</footer> -->

<div id="footer">
    <div id="slide">
    <div id="slide-in">
        <h3>Footer</h3>
        <p>フッターコンテンツ</p>
        <p id="close"><a>閉じる</a></p>
    </div>
    </div>
</div>
